
/* RECURSOS */
/* Variables */
:root {
  --content-width: 1920px;
  --progreso: 0%;
  --Progreso-multi:0%;
  --mitad-palabra: 3ch;
}
/* Configuración general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Fuente del área de juego */

@font-face {
    font-family: 'letters_for_learnersregular';
    src: url('../Fonts/wasabee/letters_for_learners-webfont.woff2') format('woff2'),
         url('../Fonts/wasabee/letters_for_learners-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  /* fondo de lunares */
  background:
        radial-gradient(white 15%, transparent 16%),
        radial-gradient(white 15%, transparent 16%),
        #a2feff; /*Azul claro fondo */
  background-position: 0 0, 300px 300px;
  background-size: 120px 120px;
  color: var(--font-color,black);
}
h1,h2,h3,h4,h5,h6 {
  margin: 0px 0px 15px 0px;
}
h1{
  position: absolute;
  width: 1px;
  height: 1px;
  top: auto;
  left: -10000px;
  overflow: hidden;
}
p {
  margin: 0px 0px 10px 0px;
}
a,a:visited{
	color: black;
  text-decoration: none;
}
select, textarea, input {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(120,120,120);
}
select:focus, textarea:focus, input:focus {
	outline: none;
	border-color: transparent;
	box-shadow: 0 0 1pt 1pt orange;
}
.btn {
  box-sizing: content-box;
	display: inline-block;
	padding: 10px 15px;
	background-color: orange;
	border-style: none;
	font-weight: 700;
}
.btn:hover {
  transform: scale(1.05);
	cursor: pointer;
}
.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container{
  max-width: var(--content-width,1920px);
  width: 100%;
  margin: 0 auto;
}

/*================ ESTILOS ==================*/

/***** ESTILOS CABECERA WEB *****/

header{
  width: 100%;
  height: 65px;
  margin: 0 auto;
  background-color: white;
}

#div_logo{
  position: absolute;
  width: 110px;
  height: 100px;
  top: 1.5%;
  left: 2%;
  border-radius: 50%;
  background: white;
  z-index: 100;
}

#div_logo h1{
  color: black;
  text-align: center;
  line-height: 100px;
}

#span_logo{
  color: #31da41; /*Verde abeja*/
}

.logo_bee{
  position: absolute;
  width: 90px;
  height: 80px;
  top: 4px;
  left: 8px;
  cursor: pointer;
}

.logo_bee_juego{
  position: absolute;
  top: 3%;
  left: 1%;
  width: 120px;
  height: 100px;
}

.logo_wasabee{
  position: absolute;
  top: 20%;
  left: 3%;
  font-family: 'letters_for_learnersregular';
  font-size: 2em;
}


nav{
  width: 100%;
  background-color: white;
}

.naviFixed{
  position: fixed;
  background-color: white;
  opacity: .9;
  top: 0;
  z-index: 100;
}

header nav ul{
  list-style: none;
  text-align: center;
}

header nav ul li{
  display: inline-block;
  margin-right: 15px;
  line-height: 65px;
}

header nav ul li a{
  font-size: 20px;
  font-weight: bold;
  color: black;
}

header nav ul li a:hover{
  font-size: 25px;
  text-decoration: underline;
  color: #31da41;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;

}

/***** ESTILOS CUERPO WEB *****/

main{
  width: 100%;
  height: 100%;
}

section{
  width: 90%;
  margin: 0 auto;
  padding-top: 80px;
}

section h2{
  font-size: 2em;
  font-weight: bold;
  color: #31da41;
  margin-bottom: 30px;
  text-align: justify;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

section h3{
  color: orange;
  font-size: 1.5em;
  margin-top: 25px;
  text-shadow: 2px 0 0 #FFF, -2px 0 0 #FFF, 0 2px 0 #FFF, 0 -2px 0 #FFF, 1px 1px 0 #FFF, -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF;
}

section p, section ul li{
  font-size: 1.3em;
  color: #000;
  letter-spacing: 1px;
  text-align: justify;
  text-shadow: 2px 0 0 #EEE, -2px 0 0 #EEE, 0 2px 0 #EEE, 0 -2px 0 #EEE, 1px 1px #EEE, -1px -1px 0 #EEE, 1px -1px 0 #EEE, -1px 1px 0 #EEE;
}

section ul li{
  list-style-position: inside;
}

.img_perfil{
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 7%;
}

.enlaces_externos{
  color: darkblue;
}

#section_jugar{
  position: relative;
  border-top: 1px solid white;
  margin-bottom: 50px;
}

/*==================== PANTALLA DEL JUEGO ==================*/

#pantalla_juego{
  position: relative;
  width: 100%;
  height: 700px;
  border-radius: 25px;
  font-family: 'letters_for_learnersregular', "Gloria Hallelujah";
  font-weight: 500;
  padding-bottom: 50%;
}

/* ===== Elegir nivel de dificultad ===== */

#div_dificultad{
  position: absolute;
  width: 80%;
  height: 500px;
  border-radius: 25px;
  background-color: #00f0ff; /*Azul intenso*/
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 50px;
  left:0;
  right:0;
  top: 100px;

  animation: DeslizFadeIN 0.6s ease;
}

#span_dificultad{
  display: block;
  width: 40%;
  line-height: 60px;
  color: black;
  font-size: 3.2em;
  font-weight: normal;
  text-align: center;
  margin: 28px auto;
  background-color: #a2feff;
  border-radius: 10px;
}

#nombre_usuario {
  position: relative;
  top: -7%;
  font-size: 2.5em;
  text-align: center;
  margin: 40px;
}
#nombre{
  text-align: center;
  font-size: 0.5em;
  width: 270px;
  padding: 3px;
}

.boton_dificultad{
  position: absolute;
  top: 45.5%;
  width: 20%;
  height: 20%;
  background-color: #a2feff;
  border-radius: 20px;
  box-shadow: 5px 10px 18px #006061;
  color: black;
  font-size: 3.2em;
  text-align: center;
  line-height: 90px;
}

.clickable:hover{
  cursor: pointer;
  transform: scale(1.2);
}

#boton_nivel_facil{
  left: 15%;
}

#boton_nivel_normal{
  left: 40%;
}

#boton_nivel_dificil{
  left: 66%;
}

.lunar{
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #03c4d0;
  z-index: 2;
  margin: 0px 10px;
}

.lunares {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  bottom: 14%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#inicio_jugar{
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 7%;
  text-align: center;
}

.btn_dif {
  background-color: #a2feff;
  border-radius: 20px;
  box-shadow: 5px 10px 18px #006061;
  color: black;
  display: inline-block;
  text-align: center;
  margin: 0px 15px;
  padding: 3px 15px;
  min-width: 270px;
  line-height: 70px;
  font-size: 2.5em;
}

.btn_dif:hover{
  cursor: pointer;
  transform: scale(1.05);
}

/* ===== Cuenta atrás ===== */

#div_cuenta_atras{
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #00f0ff;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 200px;
  color: black;
  font-size: 14em;
  text-align: center;
  line-height: 300px;

  animation: DeslizFadeIN 0.6s ease;
}

/* ===== Juego ===== */

#div_juego{
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50px;
  font-family: "letters_for_learnersregular";

  /*animation: DeslizFadeIN 5s ease;*/
}

#ref-texto{
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 25px;
  background-color: white;
  font-family: "letters_for_learnersregular" !important;
  font-size: 1.8em;
  letter-spacing: 1px;
  color: black;
  margin-bottom: 30px;
  text-align: justify;
  text-shadow: none;
}

#ipt-texto{
  position: relative;
  width: 90%;
  left: 5%;
  border: 0;
  margin: 15px auto;
  padding: 10px 15px;
  border-radius: 25px;
  font-family: "letters_for_learnersregular" !important;
  font-size: 1.8em
}

#opt-ppm {
  position: relative;
  margin: 15px auto;
  text-align: center;
  font-family: "letters_for_learnersregular" !important;
  font-size: 2em;
}

#opt-progreso{
  position: absolute;
  left:50%;
  font-family: "letters_for_learnersregular" !important;
  font-size: 2em;
}
#opt-progreso-multi{
  position: absolute;
  left:50%;
  font-family: "letters_for_learnersregular" !important;
  font-size: 2em;
}

#nombre_contrincante{
  position: relative;
  left: 47%;
}
.opt-progreso-base{
  position: relative;
  width: 60%;
  height: 2em;
  margin: 15px auto;
  background-color: white;
  border-radius: 25px;
}

.opt-progreso-multi{
  position: relative;
  width: 60%;
  height: 2em;
  margin: 15px auto;
  background-color: white;
  border-radius: 25px;
}

#opt-progreso-relleno{
  height: 2em;
  border-radius: 20px;
  background-image: linear-gradient(to right, #5ff1fb, #c8d5d9);
  width:var(--progreso, 0%);
}
#opt-progreso-relleno-multi{
  height: 2em;
  border-radius: 20px;
  background-image: linear-gradient(to right, #ff6666, #ffcccc);
  width:var(--progreso-multi, 0%);
}

#opt-progreso-wasabee{
  position: absolute;
	background-image: url("../Images/tiles-wasabee.png");
	background-size:cover;
	height: 1.5em;
  width: 2em;
	animation: aleteo 0.5s step-end infinite,movimiento 5s linear infinite;
}
#opt-progreso-wasabee-multi{
  position: absolute;
	background-image: url("../Images/tiles-wasabee.png");
	background-size:cover;
	height: 1.5em;
  width: 2em;
	animation: aleteo 0.5s step-end infinite,movimiento-multi 5s linear infinite;
}

#juego_inicio, #juego_juego{
  position: relative;
  width: 90px;
  height: 120px;
  cursor: pointer;
}

#juego_inicio{
  left: 0;
  bottom: 12%;
}

#inicio{
  position: absolute;
  font-size: 2em;
  font-family: "letters_for_learnersregular" !important;
  text-shadow: none;
  color: black;
  left:7%;
}

#juego_juego{
  left: 95%;
  bottom: 120px;
}

#reinicio{
  position: absolute;
  font-size: 2em;
  font-family: "letters_for_learnersregular" !important;
  text-shadow: none;
  color: black;
  left:-4%;
}

#juego_inicio:hover, #juego_juego:hover{
  transform:scale(1.1);
}

/* ===== Resultados ===== */

#div_resultados{
  position: relative;
  width: 100%;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0px;

  animation: DeslizFadeIN 0.6s ease;
}

#resultados{
  position: relative;
  width: 75%;
  height: 75%;
  top: 5%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f1f1;
  border-radius: 25px;
}

#span_resultados{
  display: block;
  color: #000;
  text-align: center;
  margin-bottom: 25px;
  font-size: 4em;
}

#etiqueta{
  display: inline-block;
  width: 55%;
  text-align: right;
  padding-right: 20px;
  vertical-align: top;
  font-size: 2.6em;
}

.info{
  display: inline-block;
  width: 40%;
  text-align: left;
  margin-right: 5%;
  padding-left: 30px;
	vertical-align: baseline;
  font-size: 2.6em;
}

#resultados_inicio, #resultados_jugar{
  position: relative;
  width: 90px;
  height: 120px;
  cursor: pointer;
}
#resultados_inicio:hover, #resultados_jugar:hover{
  transform:scale(1.1);
}

#resultados_inicio{
  left: 5%;
  bottom: 0%;
}

#inicio_res{
  position: absolute;
  font-size: 2em;
  font-family: "letters_for_learnersregular" !important;
  text-shadow: none;
  color: black;
  left:8%;
}

#resultados_jugar{
  left: 85%;
  bottom: 18%;
}

#reinicio_res{
  position: absolute;
  font-size: 2em;
  font-family: "letters_for_learnersregular" !important;
  text-shadow: none;
  color: black;
  left:-7%;
  bottom: -8%;
}

#div_resultados p{
  font-size: 2em;
  color: #000;
  text-shadow: none;
  margin-bottom: 30px;
}

/*======================================================*/

#section_creditos{
  border-top: 1px solid white;


}

#section_creditos p{
  font-size: 1.2em;
}

#divIntegrantes{
  position:relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.integrante{
  width: 400px;
  height: 500px;
  text-align: center;
  display: inline-block;
  padding: 0 18px;
  /*min-width: 400px;*/

  float: left;
}
.descripcion_integrante{
  position: relative;
  text-align:left;
  overflow: hidden;
}

.logo_linkedin, .logo_gmail{
  width: 30px;
  height: 30px;
  position: relative;
  top:9px;
}


#section_sobre_proyecto{
  position: relative;
  border-top: 1px solid white;
  margin-bottom: 150px;
}


/***** ESTILOS PIE WEB *****/

footer{
  width: 100%;
  height: 150px;
  background-color: #000;
  font-size: 1.1em;
  color: #FFF;
  text-align: center;
  padding: 20px;
}

#enlacefooter{
  color: white !important;
}

/********** Clases para JS **********/

.ocultar_elemento{
  display: none;
}
.activo {
  transform: scale(1.2);
}
.input_correcto{
  color: black;
  background-image: linear-gradient(to right, #5ff1fb, #c8d5d9);
}
.input_incorrecto{
  color: white;
  background-image: linear-gradient(to right, #d62b14, #f5bcbc);
}

/***** FADE IN/OUT PANTALLAS *****/

@keyframes DeslizFadeIN {
    from {
      transform: translateX(200%);
      opacity: 0.00;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
  }


/***** ANIMACIONES *****/

  .palabra-actual{
    color: rgb(2, 208, 187);
    /*font-weight: bold;*/
    text-shadow: 1px 1px 1px rgba(2, 208, 187, 0.85);
  }

  .p-oleada{
  	border-bottom: 0.10em solid brown;
  	padding-bottom: 0.05em;
  }

  .l-sin-quemar{
    border-bottom: 0.10em solid brown;
  	padding-bottom: 0.05em;
  	color: red;
  }

  .l-chispa{}

  span{
      position: relative;
    }

  .l-chispa::after{
  	content:"";
  	background-image:url("../Images/chispa.png");
  	position: absolute;
  	top: 0.65em;
  	left: -1.3em;
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	height: 1.5em;
  	width: 1.5em;
  	z-index: 100;
  	animation: chispa 0.5s linear infinite;
  }

  .l-quemada{
  	border-bottom: 0.08em dotted grey;
  	padding-bottom: 0.05em;
  }

  .p-explosion{
  	animation: humo 1s linear 0s forwards normal;
  	color:red;
  }

  .p-explosion::after{
  	content:"";
  	position: absolute;
  	bottom: 0;
  	left: var(--mitad-palabra, 0);
  	width: 1em;
  	height: 1em;
  	background-size: cover;
  	z-index: 100000;
  	animation: explosion 1s linear 0s forwards normal;
  }

  @keyframes chispa{
  	from{transform:  scale(1.1);}
  	50%{transform: scale(1);}
  	99%{transform: scale(1.1);}
  	to{transform: scale(1);}
  }

  @keyframes explosion{
  	from{
  		background-image:url("../Images/boom.png");
  		transform:scale(0.9);}
  	50%{transform:scale(1);}
  	99%{transform:scale(0.75);}
  	to{transform:scale(0);}
  }

  @keyframes humo{
  	from{transform: translateX(0px);
  		opacity: 1;
  		filter:blur(1px);}
  	to{transform: translateX(-10px);
  		opacity: 0;
  		filter:blur(20px);}
  }

  @keyframes aleteo{
  	from{background-position:top;}
    20%{background-position:bottom;}
    40%{background-position:top;}
    60%{background-position:bottom;}
    80%{background-position:top;}
  }

  @keyframes movimiento{
  	from{right:96%;}
    96%{opacity:1;}
    to{right: calc(96% - var(--progreso));
    opacity: 0;}
  }

  @keyframes movimiento-multi{
    from{right:96%;}
    96%{opacity:1;}
    to{right: calc(96% - var(--progreso-multi));
    opacity: 0;}
  }
